<!-- Footer -->
 <footer class="d-flex container-fluid" id="foooter">
  <img src="../img/logo.png" style="height: 100px;" alt="logo">
  <ul class="footer-list">
           <a class="ml-3 text-dark text-decoration-none" href="/" id="home-menu">Home</a>
        <a class="ml-3 text-dark text-decoration-none" href="/usuarios/produtos" id="products-menu"> Produtos</a>
        <a class="ml-3 text-dark text-decoration-none" href="/usuarios/carrinho" id="cart-menu"></i> Carrinho</a>
        <a class="ml-3 text-dark text-decoration-none" href="/usuarios/favoritos" id="favorites-menu">Favoritos</a>
        <a class="ml-3 text-dark text-decoration-none" href="/sobrenos" id="about-menu"> Sobre nós</a>
  </ul>
  
</footer>
<h6>Copyright © 2022 Desenvolvido por Alícia Oliveira, Igor Nunes e Lucas Vasconcelos.</h6>