<!-- Footer -->
 <footer class="d-flex container-fluid" id="foooter">
  <img src="../img/logo.png" style="height: 100px;" alt="logo">
  <ul class="footer-list">
    <li>Home</li>
    <li>Produtos</li>
    <li>Carrinho</li>
    <li>Favoritos</li>
    <li>Login</li>
    <li>Sobre nós</li>
  </ul>
  
</footer>
<h6>Copyright © 2022 Desenvolvido por Alícia Oliveira, Igor Nunes e Lucas Vasconcelos.</h6>