<header>
    
        <nav class="navbar navbar-expand-lg d-flex" id="heeader">
            <!-- logo -->
            {{!-- <a href="#" class=" ml-5">
            <img class="" id="logo" src="../img/logo.png" alt="logo">
            </a> --}}
            <!-- end logo -->
    
    
            <!-- barra de pesquisa -->
            <div class="collapse navbar-collapse justify-content-end" id="barradepesquisa">
                <form>
                <input id="busca-nav" class="form-control" style="min-width:400px;"placeholder="O que você procura?" type="text">
    
                </form>
            </div>
                
            <!-- end barra de pesquisa -->
            
            <!-- menu hamburguer -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
            aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- end menu hamburguer -->
            
            <!--navegacao -->
            <div class="collapse navbar-collapse justify-content-center" id="navbar-links">
              <div class="navbar-nav">
                <a class="ml-3 text-dark text-decoration-none" href="./index" id="home-menu">Home</a>
                <a class="ml-3 text-dark text-decoration-none" href="./produtos.html" id="products-menu"> Produtos</a>
                <a class="ml-3 text-dark text-decoration-none" href="./carrinho.html" id="cart-menu"></i> Carrinho</a>
                <a class="ml-3 text-dark text-decoration-none" href="./favoritos.html" id="favorites-menu">Favoritos</a>
                <a class="ml-3 text-dark text-decoration-none" href="./about" id="about-menu"> Sobre nós</a>
                <a class="ml-3 text-dark text-decoration-none" href="http://localhost:8088/admin/login" id="login-menu"><i
                    class="bi bi-person-fill"></i> Login</a>
              </div>
            </div>
         <!--end navegacao -->
        </nav>
    </header>