<header>

  <nav class="navbar navbar-expand-lg d-flex" id="heeader">
    <!-- logo -->
    <a href="http://localhost:8088/" class=" ml-5">
      <img class="" id="logo" src="../img/logo.png" alt="logo">
    </a>
    <!-- end logo -->


    <!-- barra de pesquisa -->

    <div class="collapse navbar-collapse justify-content-end" id="barradepesquisa">

      {{#if user.eAdmin}}
      {{!-- ADMIN --}}
      {{!-- <form action="/admin" method="get">
        <input id="busca-nav" class="form-control" style="min-width:400px;" placeholder="O que você procura?"
          type="text" name="busca">
        <button hidden></button> --}}

        {{else if user}}
        {{!-- USUARIOS --}}
        <form action="/usuarios" method="get">
          <input id="busca-nav" class="form-control" style="min-width:400px;" placeholder="O que você procura?"
            type="text" name="busca">
          <button hidden></button>

          {{else}}
          <form action="/" method="get">
            <input id="busca-nav" class="form-control" style="min-width:400px;" placeholder="O que você procura?"
              type="text" name="busca">
            <button hidden></button>
            {{/if}}

          </form>
    </div>

    <!-- end barra de pesquisa -->

    <!-- menu hamburguer -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
      aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- end menu hamburguer -->

    <!--navegacao -->
    <div class="collapse navbar-collapse justify-content-center" id="navbar-links">
      <div class="navbar-nav">

        {{#if user.eAdmin}} {{!-- aparecendo apenas para usuario logado que seja admin --}}
        <a class="ml-3 text-dark text-decoration-none" href="/admin/cupons" id="products-menu"> Cadastrar Cupons</a>
        <a class="ml-3 text-dark text-decoration-none" href="/admin/produtos" id="products-menu"> Cadastrar Produtos</a>
        <a class="ml-3 text-dark text-decoration-none" href="/admin/faleconosco" id="home-menu"> Sugestoes dos usuarios</a>
        {{else}}
        {{/if}}
        {{#if user}} {{!-- aparecendo para qualquer um que esteja logado --}}
        <a class="ml-3 text-dark text-decoration-none" href="/usuarios/produtos" id="products-menu"> Produtos</a>
        <a class="ml-3 text-dark text-decoration-none" href="/usuarios/carrinho" id="cart-menu"></i> Carrinho</a>
        <a class="ml-3 text-dark text-decoration-none" href="/usuarios/favoritos" id="favorites-menu">Favoritos</a>
        <a class="ml-3 text-dark text-decoration-none" href="/sobrenos" id="about-menu"> Sobre nós</a>
        <a class="ml-3 text-dark text-decoration-none" href="/usuarios/logout" id="about-menu"> Sair</a>
        {{else}}{{!-- aparecendo para qualquer um que NAO esteja logado --}}
        <a class="ml-3 text-dark text-decoration-none" href="/usuarios/login" id="login-menu">
          <button id="butoon">
            <i class="bi bi-person-fill"></i>
          </button>
        </a>
        {{/if}}



      </div>
    </div>
    <!--end navegacao -->
  </nav>
</header>