{{#if success_msg}}
    <div class="success alert-success">{{success_msg}}</div>
{{/if}}


{{#if error_msg}}
    <div class="danger alert-danger">{{error_msg}}</div>
{{/if}}

{{!-- variavies success_msg e  error_msg estao sendo coletadas por conta das variaveis globais--}}