#main {
    margin-left: 100px;
}
#logo-cadastro {
    height: 300px;
    width: 300px;
}
#logo-cadastro2 {
    margin-left: 45%;
}

#crie-sua-conta{
    font-weight: bold;
    font-family: helvetica;
}