
/* ------------- Favoritos ------------- */


.favoritos {
    display: flex;
    justify-content: center;
}

.favoritos-head {
    justify-content: space-between;
}

.favoritos-titulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 40%;
    height: 80px;

    border: solid black 1px;
    background-color: #FFFFFF;
}

.favoritos-titulo h1 {
    font-size: 1.5em;

    padding-left: 10%;
}

.categoria {
    margin:40px 0 40px 0;
}

.categoria-titulo {
    height: 50px;
    align-items: center;

    border: solid black 1px;
    background-color: #FFFFFF;
    
    margin-bottom: 20px;
}

.categoria-titulo h2 {
    font-size: 1.2em;
    padding-left: 1em;
}

.fileira-produtos {
    display: flex;
    justify-content: space-between;
}

.card-produtos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 20%;
}

.card {
    height: 300px;
    border: solid black 1px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.card-produtos .card a {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    height: 100%;

    color: #000000;
}

.card-produtos a img {
    width: 100%;
    height: auto;
}

.produto-preco {
    text-shadow: 1.5px 1.5px 4px rgb(98, 98, 98);
}

.produto-parcela {
    color: #838383;
}

.btn-add-carrinho {
    height: 50px;
    border: solid black 1px;

    background-color: #FFFFFF;

    transition: 0.5s;
}

.btn-add-carrinho:hover {
    background-color: #e9f0f2;
}

