

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  margin: 100px 0 100px 0;
  padding-left: 0;
  padding-right: 0;

}



/* ------------- HEADER e FOOTER ------------- */


#heeader, #foooter {
background: #e9f0f2;
width: 100%;
}


#busca-nav {
  text-align: center;
}

#body {
background: #d5e2f2;
}
#navbarr{
align-items: center;
}

#butoon{
border-radius: 50px;
outline: none;
display: flex;
align-items: center;
background-color: #5a8dcc;
margin-left: 50px;
height: 50px;
width: 50px;
border: none;
}

#logo, .logo-footer {
width: 180px;
height: auto;
}
.d-flex container-fluid{
display: flex;
justify-content: center;

}
.footer-list{
list-style: none;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-left: 290px;
}
li{
margin-left: 10px;
text-decoration: none;
color:#000000;
}
ul a{
text-decoration: none;
}
h6{
display: flex;
justify-content: center;
}