
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: 100px 0 100px 0;
    padding: 0;

}


/* ------------- HEADER e FOOTER ------------- */


#heeader, #foooter {
  background: #e9f0f2;
}

#busca-nav {
    text-align: center;
}

#body {
  background: #d5e2f2;
}

#logo, .logo-footer {
  width: 180px;
  height: auto;
}
.d-flex container-fluid{
  display: flex;
  justify-content: center;

}
.footer-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
li{
  margin-left: 10px;
}
h6{
  display: flex;
  justify-content: center;
}