.admin-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    
}
.admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9f0f2;
    width: 420px;
    height: 310px;
    padding: 20px;
    border-radius: 8px;
}

