
  
<main id="main">
  <section id="">
  <div class="container">
    <div>
      <img src="../img/logo14.svg">
    </div>
    <h2>
      Página de Cadastro
    </h2>
    <hr>
    <form>
      <div class="row m-4">
        <div class="col-sm-12 col-md-6">
          
          <fieldset class="row">
            <legend>Dados Pessoais</legend> 
            <div class="col-md-6 col-xl-10 mb-3">
              <label for="nome" class="form-label">Nome</label>
              <input type="text" class="form-control" id="nome">
           </div>
            <div class="col-md-6 col-xl-5 mb-3">
              <label for="cpf" class="form-label">CPF</label>
              <span class="text-muted">(somente números)</span>
              <input type="text" class="form-control" id="cpf">
            </div>
            <div class="col-md-6 col-xl-4 mb-3">
              <label for="datadenascimento" class="form-label">Data de Nascimento</label>
              <input type="date" class="form-control" id="datadenascimento">
            </div>
          </fieldset>
          
          <fieldset class="row">
            <legend>Contatos</legend>
            <div class="col-md-6 col-xl-10 mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email">
           </div>
           <div class="col-md-6 col-xl-7 mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="tel" class="form-control" id="telefone" placeholder="(71) 999999999">
            <span class="text-muted">(com DDD, somente números)</span>
         </div>
         
         <div class="form-check mt-5">
          <input type="checkbox" class="form-check-input" value="" id="promocoes">
          <label for="promocoes" class="form-check-label">Desejo receber informações sobre promoções.</label>
          <div class="mb-3">
            <br>
            <input type="button" value="Criar meu cadastro" class="btn btn-info btn-outline-light"
            onclick="window.alert('Login criado com sucesso!')" id="botaocriar" style="background-color: #5a8dcc;">
            <a class="btn btn-danger btn-outline-light"  href="./index.html" id="botaocriar" style="background-color: red;">Cancelar</a>
          </div>


          </fieldset>

        </div>
        
        <div class="col-sm-12 col-md-6">
          
          <fieldset class="row">
            <legend>Endereço</legend> 
            <div class="col-md-6 col-xl-10 mb-3">
              <label for="logradouro" class="form-label">Logradouro</label>
              <input type="text" class="form-control" id="logradouro">
           </div>
            <div class="col-md-6 col-xl-5 mb-3">
              <label for="cep" class="form-label">CEP</label>
              <span class="text-muted">(somente números)</span>
              <input type="text" class="form-control" id="cep">
            </div>
            <div class="col-md-6 col-xl-6 mb-3">
              <label for="cep" class="form-label">Número da residência</label>
              <span class="text-muted">(somente números)</span>
              <input type="text" class="form-control" id="cep">
            </div>
            <div class="col-md-6 col-xl-10 mb-3">
              <label for="complemento" class="form-label">Complemento</label>
              <input type="text" class="form-control" id="complemento">
           </div>
          </fieldset>
          
          <fieldset class="row">
            <legend class="mb-3">Login de acesso</legend>
            <div class="col-md-6 col-xl-10 mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email">
           </div>
         <div class="col-md-6 col-xl-10 mb-3">
          <label for="senha" class="form-label">Senha</label>
          <input type="password" class="form-control" id="senha">
       </div>
       <div class="col-md-6 col-xl-10 mb-5">
        <label for="confirmesuasenha" class="form-label">Confirme sua Senha</label>
        <input type="password" class="form-control" id="confirmesuasenha">
     </div>
          </fieldset>
        
        </div>

      </div>
      <hr>
      

      </div>
    </form>
  </div>
</section>
</main>