
  
  <main class="pt-5 pb-5">
    
    <div class="container">
      <div class="row justify-content-center">
        <form class="col-sm-10 col-md-8 col-lg-6">
          <br>
      <h1 class="mb-1">Senha recuperada!</h1>
      <hr>
        <p class="mt-3">
          Prezado cliente, informamos que as instruções para a realização do cadastro da nova senha foi enviado para o seu email.
          <br><br> 
          <a href="index.html">Clique aqui</a> para voltar para a pagina principal.
        </p>

    
    </div>
    
    </div>

  </main>