
<section class="area-login">
  <div class="recuperar">
    <div>
      <img src="../img/logo14.svg">
     </div>
    <h2>Recuperar sua senha</h2>

    <form>
      <input type="email" name="nome" placeholder="Digite seu e-mail">
      <a href="http://localhost:8088/usuarios/confirmarrecuperacaosenha">
      <input type="button" value="Enviar" id="enviar">
    </a>
    </form>
    <br>
    <p>Ainda não tem uma conta? <a href="http://localhost:8088/usuarios/registro">Criar conta.</a></p>

  </div>
</section>

