
<section class="area-login">
  <div class="recuperar">
    <div>
      <img src="../img/logo14.svg">
     </div>
    <h2>Recuperar sua senha</h2>

    <form>
      <input type="email" name="nome" placeholder="Digite seu e-mail">
      <a href="confirmerecuperacaosenha.html">
      <input type="button" value="Enviar" id="enviar">
    </a>
    </form>
    <br>
    <p>Ainda não tem uma conta? <a href="./cadastro.html">Criar conta.</a></p>

  </div>
</section>


<footer class="d-flex container-fluid" id="foooter">
  <img src="../img/logo.png" style="height: 100px;" alt="logo">
  <ul class="footer-list">
    <a class="ml-3 text-dark text-decoration-none" href="./index.html">Home</a>
    <a class="ml-3 text-dark text-decoration-none" href="./produtos.html"> Produtos</a>
    <a class="ml-3 text-dark text-decoration-none" href="./carrinho.html"> Carrinho</a>
    <a class="ml-3 text-dark text-decoration-none" href="./favoritos.html">Favoritos</a>
    <a class="ml-3 text-dark text-decoration-none" href="./about.html"> Sobre nós</a>
  </ul>
