<h3>Crie sua conta</h3>
<div class="card">
    <div class="card-body">
        <form action="" method="post">
            <label for="nome">Nome:</label>
                <input type="text" name="nome" class="form-control" required>
            <label for="email">Email: </label>
                <input type="email" name="email" class="form-control" required>
            <label for="senha">Senha: </label>
                <input type="password" name="senha" class="form-control" required>
            <label for="senha2">Repita sua senha:</label>
                <input type="password" name="senha2" class="form-control" required>
                <br>
                <button type="submit" class="btn btn-success">Criar cadastro</button>
        </form>
    </div>
</div>