
<div id="home404">
  <div class="mainbox">
    <div class="err">4</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">4</div>
    <div class="msg">Tá procurando url que n existe, irmão.<p>Volte pra <a href="/">home</a>.</p></div>
      </div>
      </div>