<section class="area-login">
      <div class="login">
        <div>
          <img src="../img/logo14.svg">
        </div>
        <form>
          <input type="email" name="nome" placeholder="Digite seu e-mail">
          <input type="password" name="senha" placeholder="Digite sua senha">
          
          <input type="submit" value="Entrar">
        </form>
        <br>
        <p>Ainda não tem uma conta? <a href="./cadastro.html">Criar conta.</a></p>
        <p>Esqueceu sua senha? <a href="./recuperarsenha.html">Recupere aqui.</a></p>

      </div>
    </section>