<section class="area-login">
  <div class="login">
    <h2>Fale Conosco</h2>
<form action="./faleconosco/enviar" method="post" id="formfaleconosco">      
  <input name="name" type="text"  placeholder="Seu Nome" />   
  <input name="email" type="text" placeholder="Seu Email" />
  <textarea name="text" id="textarea"  placeholder="Escreva aqui..."></textarea>
  <input type="submit" value="Enviar"/>
</form>
</div>
</section>