<main class="" id="main">
    <h1 id="fale-conosco">Fale Conosco</h1>
<form action="./faleconosco/enviar" method="post">      
  <input name="name" type="text" class="feedback-input" placeholder="Seu Nome" />   
  <input name="email" type="text" class="feedback-input" placeholder="Seu Email" />
  <textarea name="text" class="feedback-input" placeholder="Escreva aqui..."></textarea>
  <input type="submit" value="Enviar"/>
</form>
</main>