<main id="main">
    <h1 id="fale-conosco">Fale Conosco</h1>
<form action="./faleconosco/enviar" method="post" id="formfaleconosco">      
  <input name="name" type="text"  placeholder="Seu Nome" />   
  <input name="email" type="text" placeholder="Seu Email" />
  <textarea name="text" id="textarea"  placeholder="Escreva aqui..."></textarea>
  <input type="submit" value="Enviar"/>
</form>
</main>