


    <section id="product1" class="section-p1">
        <h2>Lista de desejos</h2>
        <div class="pro-container">
            <div class="pro" onclick="window.location.href='./detalhes-produto.html'">
                <img src="../img/Adidas1.webp" alt="Produto">
                <div class="descricao">
                    <span>esportivo</span>
                    <h5> Adizero Boston 11 </h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$1.399,99</h4>
                </div>
                <a href="carrinho.html"><i class="fal fa-shopping-cart cart"></i></a>
                <a href="favoritos.html"><i class="fa fa-heart heart"></i></a>
            </div>
            <div class="pro" onclick="window.location.href='./detalhes-produto.html'">
                <img src="../img/Adidas2.webp" alt="Produto">
                <div class="descricao">
                    <span>esportivo</span>
                    <h5>Adizero RC 4</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$499,99</h4>
                </div>
                <a href="carrinho.html"><i class="fal fa-shopping-cart cart"></i></a>
                <a href="favoritos.html"><i class="fa fa-heart heart"></i></a>
            </div>
            <div class="pro" onclick="window.location.href='./detalhes-produto.html'">
                <img src="../img/Adidas3.webp" alt="Produto">
                <div class="descricao">
                    <span>esportivo</span>
                    <h5>Supernova+</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$499,99 </h4>
                </div>
                <a href="carrinho.html"><i class="fal fa-shopping-cart cart"></i></a>
                <a href="favoritos.html"><i class="fa fa-heart heart"></i></a>
            </div>
            <div class="pro" onclick="window.location.href='./detalhes-produto.html'">
                <img src="../img/Adidas4.webp" alt="Produto">
                <div class="descricao">
                    <span>esportivo</span>
                    <h5>Dropset Trainer</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$799,99</h4>
                </div>
                <a href="carrinho.html"><i class="fal fa-shopping-cart cart"></i></a>
                <a href="favoritos.html"><i class="fa fa-heart heart"></i></a>
            </div>


</section>

